@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #00453E;      /* Amazon dark green (navbar) */
  --color-secondary: #005B52;    /* Slightly lighter green for hovers */
  --color-accent: #C70F74;       /* Search button pink accent in screenshot */
  --color-star: #FFB400;         /* Gold star rating */
  --color-text: #0F1111;         /* Amazon black text */
  --color-base-100: #FFFFFF;     /* Main white background */
  --color-base-200: #F3F3F3;     /* Light gray panel background */
  --color-border: #DDDDDD;       /* Borders */
  --color-success: #067D62;      /* Amazon-style green messages */
  --color-error: #CC0A00;        /* Amazon alert/error red */
}


:root {
  --font-primary: 'Inter', sans-serif;
  --font-heading: 'Merriweather', serif;
}

body {
  font-family: var(--font-primary);
}

.font-title {
  font-family: var(--font-heading);
}

.sidebar-transition {
  transition: width 300ms ease-in-out, margin 300ms ease-in-out;
}