@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #F59E0B;     /* amber-500 */
  --color-secondary: #0E73B6;
  --color-star: #FACC15;        /* yellow-400 */
  --color-text: #1F2937;        /* gray-800 */
  --color-success: #10B981;     /* emerald-500 */
  --color-error: #EF4444;       /* red-500 */
}

:root {
  --font-primary: 'Inter', sans-serif;
  --font-heading: 'Merriweather', serif;
}

body {
  font-family: var(--font-primary);
}

.font-title {
  font-family: var(--font-heading);
}